jre6/
jre7/
jre8/
jre9/

*.exe

/java/target/

/delphi/DelphiCallJava.dproj
/delphi/DelphiCallJava.dproj.local
/delphi/DelphiCallJava.otares
/delphi/DelphiCallJava.rsm
/delphi/DelphiCallJava.dres
/delphi/DelphiCallJava.stat
/delphi/*.dcu
/delphi/*.ppu
/delphi/__history/
/delphi/__recovery/

/fpc/FpcCallJava.compiled
/fpc/FpcCallJava.lps
/fpc/FpcCallJava.obj
/fpc/*.o
/fpc/backup/

/jni/*.o
/jni/*.dcu
/jni/*.ppu
/jni/__history/
/jni/__recovery/
/jni/backup/
