jre6/
jre7/
jre8/
jre9/
*.exe

/java/target/
.idea/
*.iml

/delphi/DelphiCallJava.dproj
/delphi/DelphiCallJava.dproj.local
/delphi/DelphiCallJava.otares
/delphi/DelphiCallJava.rsm
/delphi/DelphiCallJava.dres
/delphi/__history/
/delphi/__recovery/
/delphi/DelphiCallJava.stat

/fpc/backup/
/fpc/FpcCallJava.compiled
/fpc/FpcCallJava.lps
/fpc/FpcCallJava.o
/fpc/FpcCallJava.obj
/fpc/main.o

/jni/__history/
/jni/__recovery/
/jni/backup/
/jni/jni.o
